@import 'null.scss';
@import './variable.scss';

html {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #fff;
    color: $textColor75;
}
.container {
    max-width: 1130px;
    display: flex;
    padding: 0 150px;
    font-weight: 700;
    color: $textColor1;
}
.colors {
  min-width: 270px;
  margin: 0;
  padding: 0 415px 0 10px;
  font-weight: 700;
  
}
.colors-item {
display: flex;
align-items: center;
justify-content: flex-start;
margin-bottom: 20px;

    &__example_color {
        min-width: 70px;
        min-height: 70px;
        border-radius: 6px;
    }
    
    &__example_color {
    &_textColor1 {
        background: $textColor1;
    }
    &_textColor75 {
        background: $textColor75;
    }
    &_textColor50 {
        background: $textColor50;
    }
    &_textColor25 {
        background: $textColor25;
    }
    &_textColor5 {
        background: $textColor5;
    }
    &_primaryColor {
        background: $primaryColor;
    }
    &_secondColor {
        background: $secondaryColor;
    }
    }
    
    &__description {
        color: $textColor1;
        font-size: 19px;
        max-width: 300px;
        padding-left: 40px;
    //font: 400 1.3571rem/29px $font_body;
    }
    
    &__name {
        margin: 0;
    }
    
    &__code {
        margin: 0;
        font-style: uppercase;
        font-weight: 400;
    }
    
}
.type {
    display: inline-block;
    min-width: 436px;
    padding: 0 150px 0 0;
}
.type-item {
    display: inline-flex;
    padding: 0 0 50px 0;
    &__tag {
        font-weight: 400;
        line-height: 24px;
        color: $textColor25;
        align-items:flex-end;
        justify-content: flex-end;
    }
    &__description {
        align-items:flex-end;
        margin-left: 30px;

    }
}
.type-item {
    &__h1 {
        font-size: 24px;
        font-weight: 700;
    }
    &__h2 {
        font-size: 19px;
        font-weight: 700;
    }
    &__h3 {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__body {
    }
}