/* montserrat-regular - latin_cyrillic */
@font-face {
     font-family: 'Montserrat';
     src: 
         url('Montserrat-Regular.woff2') format('woff2'),
         url('Montserrat-Regular.woff') format('woff'),
         url('Montserrat-Regular.ttf') format('truetype'),
         url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
     font-weight: 400;
     font-style: normal;
 }

  /* montserrat-700 - latin_cyrillic */
  @font-face {
     font-family: 'Montserrat';
     src: 
         url('Montserrat-Bold.woff2') format('woff2'),
         url('Montserrat-Bold.woff') format('woff'),
         url('Montserrat-Bold.ttf') format('truetype'),
         url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
     font-weight: 700;
     font-style: normal;
     
 }
