//- var pageTitle = 'Colors & Type'

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title= 'Colors & Type'

  body
    //include modules/header
    //-
      header
      .container 
          .ui-kit_header 
              .logo 
                  a.logo__link(href="CHANGE THAT!")
                      img(src="CHANGE THAT!", alt="logo of site")
    
    .container 
      .colors 
        .colors-item
          .colors-item__example_color.colors-item__example_color_textColor1
          .colors-item__description
            .colors__name Dark Shade 100%
            .colors__code #1F2041
        .colors-item
          .colors-item__example_color.colors-item__example_color_textColor75
          .colors-item__description
            .colors__name Dark Shade 75%
            .colors__code #1F2041
        .colors-item
              .colors-item__example_color.colors-item__example_color_textColor50
              .colors-item__description
                .colors__name Dark Shade 50%
                .colors__code #1F2041
        .colors-item
              .colors-item__example_color.colors-item__example_color_textColor25
              .colors-item__description
                .colors__name Dark Shade 25%
                .colors__code #1F2041
        .colors-item
              .colors-item__example_color.colors-item__example_color_textColor5
              .colors-item__description
                .colors__name Dark Shade 5%
                .colors__code #1F2041
        .colors-item
              .colors-item__example_color.colors-item__example_color_primaryColor
              .colors-item__description
                .colors__name Purple
                .colors__code #BC9CFF
        .colors-item
              .colors-item__example_color.colors-item__example_color_secondColor
              .colors-item__description
                .colors__name Green
                .colors__code #6FCF97